@model User
@{
    ViewData["Title"] = "Home Page";
    User? UserInfo = ViewBag.UserInfo;
}

<div class="box-sm-part shadow-sm">
    <div class="d-none">
        <form method="get" asp-controller="User" asp-action="Search" id="SearchForUsers_Form">
            <input type="hidden" name="Type" id="SearchForUsers_Type_Val" value="1" />
            <input type="hidden" name="Keyword" id="SearchForUsers_Keyword_Val" />
        </form>
        <form method="get" asp-controller="Genre" asp-action="Search" id="SearchForGenres_Form">
            <input type="hidden" name="Type" id="SearchForGenres_Type_Val" value="1" />
            <input type="hidden" name="Keyword" id="SearchForGenres_Keyword_Val" />
        </form>
        <form method="get" asp-controller="Miscellaneous" asp-action="GetLanguages" id="GetLanguages_Form">
            <input type="hidden" name="Keyword" id="GetLanguages_Keyword_Val" />
            <input type="hidden" name="Type" id="GetLanguages_Type_Val" value="0" />
        </form>
        <input type="hidden" id="CurrentUserInfo_Id_Val" value="@UserInfo.Id" />
        <form method="get" asp-controller="Track" asp-action="GetSingleInfo" id="GetSingleInfo_Form">
            <input type="hidden" name="Id" id="GSI_Id_Val" value="0" />
            <input type="hidden" name="IsForAuthor" id="GSI_IsForAuthor_Val" value="false" />
        </form>
        <form method="get" asp-controller="Playlists" asp-action="GetInfo" id="GetPlaylistInfo_Form">
            <input type="hidden" name="Id" id="GPI_Id_Val" value="0" />
            <input type="hidden" name="UserId" value="@UserInfo.Id" />
        </form>
        <form method="post" action="/Playlists/AddOrRemoveTheTrackAsFavorite" id="AddOrRemoveTheTrackAsFavorite_Form">
            <input type="hidden" name="TrackId" id="ARTAF_Id_Val" value="0" />
            @* <button type="submit" class="btn btn-standard-bolded btn-lg me-1 super-disabled" id="ARTAF_SbmtBtn"> <i class="fa-solid fa-star"></i> </button> *@
        </form>
    </div>

    @* <div class="box-standard p-1">
        <div class="playlist-box">
            <div class="hstack gap-1">
                <div>
                    <div class="release-img-box-sm"> <i class="fa-solid fa-wave-square"></i> </div>
                </div>
                <div class="ms-1">
                    <span class="h6">Playlist Name</span>
                    <br />
                    <small class="card-text text-muted"><small class="badge-standard"> <i class="fa-solid fa-wave-square"></i> Playlist</small> ∙ 100 songs</small>
                </div>
                <div class="dropdown ms-auto">
                    <button class="btn btn-standard ms-auto" type="button" data-bs-toggle="dropdown" aria-expanded="false"> <i class="fa-solid fa-ellipsis"></i> </button>
                    <ul class="dropdown-menu shadow-sm">
                        <li><button type="button" class="dropdown-item"></button></li>
                    </ul>
                </div>
            </div>

        </div>
    </div> *@

    @* <div class="p-1">
        <div class="box-standard p-1">
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-standard text-center w-100"> <i class="fa-solid fa-bars-staggered"></i> <br />Library</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-standard text-center w-100"> <i class="fa-solid fa-folder-plus"></i> <br /> Add Playlist</button>
                </div>
            </div>
        </div>
    </div> *@
</div>

<div class="box-lg-part shadow-sm" id="EditTrackLyrics_Container">
    <div class="box-lg-part-header p-2">
        <div class="div-swiper mx-auto" id="EditTrackLyrics_Container-Swiper"></div>
        <div class="hstack gap-1">
            <button type="button" class="btn btn-standard btn-back btn-sm"> <i class="fa-solid fa-chevron-left"></i> Back</button>
            <div class="ms-2">
                <span class="h5" id="EditTrackLyrics_Container-Header_Lbl">Edit Lyrics</span>
            </div>
        </div>
        <div class="box-bordered mt-1 p-1">
            <div class="hstack gap-1">
                <div>
                    <img src="#" class="release-img-sm" id="ETL_Img" style="display: none;" />
                    <div class="release-img-box-sm" id="ETL_Img_Box"> <i class="fa-solid fa-music"></i> </div>
                </div>
                <div class="ms-1">
                    <span class="h6" id="ETL_TrackTitle_Lbl">Track Title</span>
                    <br />
                    <small class="card-text text-muted" id="ETL_TrackArtists_Span">Artists (all)</small>
                </div>
                <button type="button" class="btn btn-standard btn-previewer btn-tooltip btn-sm ms-auto" id="EditTrackLyricsPreview_BtnOpen" data-previewer-title="Lyrics Previewer" data-titles="UTL_Content_Title" data-content="UTL_Content_Val" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-standard shadow-sm" data-bs-html="true" data-bs-title="Review the lyrics before confirming"> <i class="fa-solid fa-eye"></i> </button>
            </div>
        </div>
    </div>
    <div class="box-lg-part-body mt-5" id="EditTrackLyrics_Box">
        @* <div class="box-bordered text-center p-2 mt-5">
            <h2 class="h2"> <i class="fa-solid fa-candy-cane"></i> </h2>
            <h4 class="h4">Wordplays (Hints)</h4>
            <small class="card-text text-muted">Identify select sections of the lyrics and incorporate nuanced wordplay elements to enrich their meaning</small>
            <div class="box-standard text-start mt-3">
                <span class="lyric-text">Never knowin' when to stop<br />Sunglasses indoors<br />Par for the course<div class="hint-span" id="HintExample_Span" data-hint="He’s at a lavish club, with go-go dancers and a fly scene. Moving around real cool and decked out head to toe, all to try and mask his loneliness">Lights in the floors and sweat on the walls<br />Cages and poles</div></span>
            </div>
        </div>
        <div class="box-standard mt-2">
            <span class="form-label fw-500 ms-1">Hint</span>
            <div class="hstack gap-1 mt-1">
                <div>
                    <input type="hidden" id="UTL_HintText_Val" />
                    <button type="button" class="btn btn-standard-bordered btn-form-replacer btn-sm" id="HintPlacer_Val-BtnReplacer" data-target="UTL_Hint_Val" data-initial-target="UTL_HintText_Val"> <i class="fa-solid fa-plus"></i> Add Hint</button>
                </div>
                <div class="vr"></div>
                <div class="box-standard x-row-sliding-only-box ms-1" id="HintPlacer_Val-Box">
                </div>
            </div>
            <textarea class="form-control form-textarea mt-2" rows="1" id="HintPlacer_Val" placeholder="Place your hint here"></textarea>
        </div>
        <div class="box-standard x-row-sliding-only-box mt-2" id="HintPlacer_Val-Box">

        </div>
        <div class="box-bordered mh-340 mt-2 p-2" id="HintPreview_Box">
        </div> *@
        <div class="mt-5 pt-3">
            <form method="post" action="/Track/UpdateLyrics" id="UpdateTrackLyrics_Form">
                <div>
                    <span class="form-label fw-500 ms-1" id="UTL_Content_Title">Lyrics</span>
                    <div class="mt-1">
                        <input type="hidden" name="Id" id="UTL_TrackId_Val" value="0" />
                        <input type="hidden" name="Hint" id="UTL_Hint_Val" />
                        <button type="button" class="btn btn-standard-bordered btn-sm super-disabled opacity-100 me-1"> <i class="fa-solid fa-text-width"></i> Characters: <span id="UTL_Content_Val-Indicator_Span">0/4 000</span></button>
                        <button type="button" class="btn btn-standard-bordered super-disabled opacity-100 btn-sm me-1"> <i class="fa-solid fa-align-left"></i> Rows: <span id="UTL_Content_Val-RowsIndicator_Span">0</span></button>
                        <button type="button" class="btn btn-standard-bordered btn-add-hint btn-tooltip btn-sm" data-value="UTL_Content_Val" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-standard shadow-sm" data-bs-html="true" data-bs-title="Drop a clever hint to reveal the deeper layers — wordplay, themes, or hidden gems. Shown whenever a listener hovers over the lyrics"> <i class="fa-solid fa-candy-cane"></i> Add Hint </button>
                    </div>
                    <textarea class="form-control form-textarea form-control-guard mt-1" rows="1" name="Content" id="UTL_Content_Val" placeholder="Paste lyrics here..." maxlength="4000" data-min-length="1" data-target="UpdateTrackLyrics_SbmtBtn"></textarea>
                </div>
                <div class="mt-1 ms-1">
                    <small class="card-text text-muted">Paste the lyrics of the track here. Please review all necessary information in the section above, and edit as needed using the editor</small>
                </div>
                <div class="mt-3">
                    <span class="form-label fw-500 ms-1">Language</span>
                    <div class="mt-1">
                        <button type="button" class="btn btn-standard btn-tooltip btn-sm float-end ms-1" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-custom-class="tooltip-standard shadow-sm" data-bs-html="true" data-bs-title="This setting helps with recommendations. If your track includes multiple languages, please select the primary one.<br/>Translations are available as a basic feature for <span class='fw-500'>all included languages</span>"> <i class="fa-solid fa-circle-info"></i> </button>
                        <button type="button" class="btn btn-standard-bordered btn-get-form-languages btn-sm" id="GetAvailableLanguages_Btn"> <i class="fa-solid fa-language"></i> Choose a Language</button>
                    </div>
                    <input type="hidden" name="LanguageId" id="UTL_LanguageId_Val" value="0" />
                    <input type="text" class="form-control mt-1" placeholder="Choose a language from the list" id="UTL_LanguageDisplay_Val" readonly />
                </div>
                <div class="mt-1 ms-1">
                    <small class="card-text text-muted" id="UTL_LanguageId_Val-Warn">Tap the button to view all available languages. Select the primary language of your track — this is used commonly for recommendations</small>
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-standard-bolded btn-classic-styled super-disabled w-100" id="UpdateTrackLyrics_SbmtBtn">Save Lyrics</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="box-lg-part shadow-sm" id="EditTrackCredits_Container">
    <div class="box-lg-part-header p-2">
        <div class="div-swiper mx-auto" id="EditTrackCredits_Container-Swiper"></div>
        <div class="hstack gap-1">
            <button type="button" class="btn btn-standard btn-back btn-sm"> <i class="fa-solid fa-chevron-left"></i> Back</button>
            <div class="ms-2">
                <span class="h5" id="EditTrackCredits_Container-Header_Lbl">Edit Credits</span>
            </div>
        </div>
        <div class="box-bordered mt-1 p-1">
            <div class="hstack gap-1">
                <div>
                    <img src="#" class="release-img-sm" id="ETC_Img" style="display: none;" />
                    <div class="release-img-box-sm" id="ETC_Img_Box"> <i class="fa-solid fa-music"></i> </div>
                </div>
                <div class="ms-1">
                    <span class="h6" id="ETC_TrackTitle_Lbl">Track Title</span>
                    <br/>
                    <small class="card-text text-muted" id="ETC_TrackArtists_Span">Artists (all)</small>
                </div>
                <button type="button" class="btn btn-standard btn-open-container btn-tooltip btn-sm ms-auto" id="EditTrackCreditsPreview_Container-OpenBtn" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-standard shadow-sm" data-bs-html="true" data-bs-title="Preview all the track credits you’ve added"> <i class="fa-solid fa-eye"></i> </button>
            </div>
        </div>
    </div>
    <div class="box-lg-part-body mt-5" id="EditTrackCredits_Box">
        <div class="box-vertical-switcher shadow-sm" id="SomeShitListed_Box">
            <div class="box-vertical-switcher-header hstack gap-1">
                <button type="button" class="btn btn-standard-bolded btn-close-vertical-switcher btn-sm ms-auto">Done</button>
            </div>
            <div class="mt-1" id="SomeShitListed_Box-Items_Box">
                <span class="h5" id="SomeShitListed_Box-MembersQty_Lbl"></span>
                <div></div>
                <small class="card-text text-muted">Tap on each to remove</small>
                <div class="mt-2" id="SomeShitListed_Box-MembersListed_Box">
                </div>
            </div>
        </div>

        <div class="mt-5 pt-3">
            <form method="post" action="/Track/UpdateCredits" id="UpdateTrackCredits_Form">
                <div>
                    <span class="form-label fw-500 ms-1">Main Vocalist(s)</span>
                    <div class="mt-1">
                        <input type="hidden" name="Id" id="ETC_TrackId_Val" value="0" />
                        <button type="button" class="btn btn-standard-bordered btn-add-element btn-sm" data-prototype="ETC_MainVocalist_Val-0" data-remove-btn="SomeShitListed_Box-OpenBtn"> <i class="fa-solid fa-plus"></i> Add More</button>
                        <button type="button" class="btn btn-standard-bordered btn-elements-listed btn-open-vertical-switcher btn-sm super-disabled" id="SomeShitListed_Box-OpenBtn" data-prototype="ETC_MainVocalist_Val-0" style="display: none;"> <i class="fa-solid fa-xmark"></i> Remove</button>
                        <input type="text" class="form-control form-control-juxtaposed mt-1" name="MainVocalist" id="ETC_MainVocalist_Val-0" placeholder="Enter the name of main vocalist" maxlength="250" data-index="0" data-update="ETCP_MainVocalists_Span" data-target="EditTrackCredits_SbmtBtn" />
                    </div>
                </div>
                <div class="ms-1 mt-1">
                    <small class="card-text text-muted" id="ETC_MainVocalist_Val-Warn" data-list="false">Have more than one main vocalist? Tap the button to add additional fields</small>
                </div>
                <div class="mt-3" id="ETC_Composer_Box">
                    <span class="form-label fw-500 ms-1">Composer(s)</span>
                    <div class="mt-1">
                        <button type="button" class="btn btn-standard-bordered btn-add-element btn-sm" data-prototype="ETC_Composer_Val-0" data-remove-btn="SomeShitListed_Box-OpenBtn1"> <i class="fa-solid fa-plus"></i> Add More</button>
                        <button type="button" class="btn btn-standard-bordered btn-elements-listed btn-open-vertical-switcher btn-sm super-disabled" id="SomeShitListed_Box-OpenBtn1" data-prototype="ETC_Composer_Val-0" style="display: none;"> <i class="fa-solid fa-xmark"></i> Remove</button>
                        <input type="text" class="form-control form-control-juxtaposed mt-1" name="Composer" id="ETC_Composer_Val-0" placeholder="Enter the name of composer" maxlength="250" data-index="0" data-update="ETCP_Composer_Val" data-target="EditTrackCredits_SbmtBtn" />
                    </div>
                </div>
                <div class="mt-1 ms-1">
                    <small class="card-text text-muted" id="ETC_Composer_Val-Warn">All fields except <span class="fw-500">Main Vocalist(s)</span> are optional and can be skipped</small>
                </div>
                <div class="mt-3" id="ETC_Lyricist_Box">
                    <span class="form-label fw-500 ms-1">Lyricist(s)</span>
                    <div class="mt-1">
                        <button type="button" class="btn btn-standard-bordered btn-add-element btn-sm" data-prototype="ETC_Lyricist_Val-0" data-remove-btn="SomeShitListed_Box-OpenBtn2"> <i class="fa-solid fa-plus"></i> Add More</button>
                        <button type="button" class="btn btn-standard-bordered btn-elements-listed btn-open-vertical-switcher btn-sm super-disabled" id="SomeShitListed_Box-OpenBtn2" data-prototype="ETC_Lyricist_Val-0" style="display: none;"> <i class="fa-solid fa-xmark"></i> Remove</button>
                        <input type="text" class="form-control form-control-juxtaposed mt-1" name="Lyricist" id="ETC_Lyricist_Val-0" placeholder="Enter the name of lyricist" maxlength="250" data-index="0" data-update="ETCP_Lyricist_Val" data-target="EditTrackCredits_SbmtBtn" />
                    </div>
                </div>
                <div class="mt-3" id="ETC_Producers_Box" style="display: none;">
                    <span class="form-label fw-500 ms-1">Producer(s)</span>
                    <div class="mt-1">
                        <button type="button" class="btn btn-standard-bordered btn-add-element btn-sm" data-prototype="ETC_Producer_Val-0" data-remove-btn="SomeShitListed_Box-OpenBtn3"> <i class="fa-solid fa-plus"></i> Add More</button>
                        <button type="button" class="btn btn-standard-bordered btn-elements-listed btn-open-vertical-switcher btn-sm super-disabled" id="SomeShitListed_Box-OpenBtn3" data-prototype="ETC_Producer_Val-0" style="display: none;"> <i class="fa-solid fa-xmark"></i> Remove</button>
                        <input type="text" class="form-control form-control-juxtaposed mt-1" name="Producer" id="ETC_Producer_Val-0" placeholder="Enter the name of producer" maxlength="250" data-index="0" data-update="ETCP_Producer_Val" data-target="EditTrackCredits_SbmtBtn" />
                    </div>
                </div>
                <div class="mt-3" id="ETC_Arranger_Box" data-input="ETC_Arranger_Val" style="display: none;">
                    <span class="form-label fw-500 ms-1">Arranger(s)</span>
                    <div class="mt-1">
                        <button type="button" class="btn btn-standard-bordered btn-add-element btn-sm" data-prototype="ETC_Arranger_Val-0" data-remove-btn="SomeShitListed_Box-OpenBtn4"> <i class="fa-solid fa-plus"></i> Add More</button>
                        <button type="button" class="btn btn-standard-bordered btn-elements-listed btn-open-vertical-switcher btn-sm super-disabled" id="SomeShitListed_Box-OpenBtn4" data-prototype="ETC_Arranger_Val-0" style="display: none;"> <i class="fa-solid fa-xmark"></i> Remove</button>
                        <input type="text" class="form-control form-control-juxtaposed mt-1" name="Arranger" id="ETC_Arranger_Val-0" placeholder="Enter the name of arranger" maxlength="250" data-index="0" data-update="ETCP_Arranger_Val" data-target="EditTrackCredits_SbmtBtn" />
                    </div>
                </div>
                <div class="mt-3" id="ETC_FeaturedArtists_Box" data-input="ETC_FeaturedArtists_Val" style="display: none;">
                    <span class="form-label fw-500 ms-1">Featured Artist(s)</span>
                    <div class="mt-1">
                        <button type="button" class="btn btn-standard-bordered btn-add-element btn-sm" data-prototype="ETC_FeaturedArtists_Val-0" data-remove-btn="SomeShitListed_Box-OpenBtn5"> <i class="fa-solid fa-plus"></i> Add More</button>
                        <button type="button" class="btn btn-standard-bordered btn-elements-listed btn-open-vertical-switcher btn-sm super-disabled" id="SomeShitListed_Box-OpenBtn5" data-prototype="ETC_FeaturedArtists_Val-0" style="display: none;"> <i class="fa-solid fa-xmark"></i> Remove</button>
                        <input type="text" class="form-control form-control-juxtaposed mt-1" name="FeaturedArtists" id="ETC_FeaturedArtists_Val-0" placeholder="Enter the name of featured artist" maxlength="250" data-index="0" data-update="ETCP_FeaturedArtists_Val" data-target="EditTrackCredits_SbmtBtn" />
                    </div>
                </div>
                <div class="mt-3" id="ETC_Instrumentalists_Box" data-input="ETC_Instrumentalists_Val" style="display: none;">
                    <span class="form-label fw-500 ms-1">Instrumentalist(s)</span>
                    <div class="mt-1">
                        <button type="button" class="btn btn-standard-bordered btn-add-element btn-sm" data-prototype="ETC_Instrumentalists_Val-0" data-remove-btn="SomeShitListed_Box-OpenBtn6"> <i class="fa-solid fa-plus"></i> Add More</button>
                        <button type="button" class="btn btn-standard-bordered btn-elements-listed btn-open-vertical-switcher btn-sm super-disabled" id="SomeShitListed_Box-OpenBtn6" data-prototype="ETC_Instrumentalists_Val-0" style="display: none;"> <i class="fa-solid fa-xmark"></i> Remove</button>
                        <input type="text" class="form-control form-control-juxtaposed mt-1" name="Instrumentalists" id="ETC_Instrumentalists_Val-0" placeholder="Enter the name of instrumentalist" maxlength="250" data-index="0" data-update="ETCP_Instrumentalists_Val" data-target="EditTrackCredits_SbmtBtn" />
                    </div>
                </div>
                <div class="mt-3" id="ETC_MixingEngineers_Box" data-input="ETC_MixingEngineers_Val" style="display: none;">
                    <span class="form-label fw-500 ms-1">Mixing Engineer(s)</span>
                    <div class="mt-1">
                        <button type="button" class="btn btn-standard-bordered btn-add-element btn-sm" data-prototype="ETC_MixingEngineers_Val-0" data-remove-btn="SomeShitListed_Box-OpenBtn7"> <i class="fa-solid fa-plus"></i> Add More</button>
                        <button type="button" class="btn btn-standard-bordered btn-elements-listed btn-open-vertical-switcher btn-sm super-disabled" id="SomeShitListed_Box-OpenBtn7" data-prototype="ETC_MixingEngineers_Val-0" style="display: none;"> <i class="fa-solid fa-xmark"></i> Remove</button>
                        <input type="text" class="form-control form-control-juxtaposed mt-1" name="MixingEngineers" id="ETC_MixingEngineers_Val-0" placeholder="Enter the name of mixing engineer" maxlength="250" data-index="0" data-update="ETCP_MixingEngineers_Val" data-target="EditTrackCredits_SbmtBtn" />
                    </div>
                </div>
                <div class="mt-3" id="ETC_MasteringEngineers_Box" data-input="ETC_MasteringEngineers_Val" style="display: none;">
                    <span class="form-label fw-500 ms-1">Mastering Engineer(s)</span>
                    <div class="mt-1">
                        <button type="button" class="btn btn-standard-bordered btn-add-element btn-sm" data-prototype="ETC_MasteringEngineers_Val-0" data-remove-btn="SomeShitListed_Box-OpenBtn8"> <i class="fa-solid fa-plus"></i> Add More</button>
                        <button type="button" class="btn btn-standard-bordered btn-elements-listed btn-open-vertical-switcher btn-sm super-disabled" id="SomeShitListed_Box-OpenBtn8" data-prototype="ETC_MixingEngineers_Val-0" style="display: none;"> <i class="fa-solid fa-xmark"></i> Remove</button>
                        <input type="text" class="form-control form-control-juxtaposed mt-1" name="MasteringEngineers" id="ETC_MasteringEngineers_Val-0" placeholder="Enter the name of mastering engineer" maxlength="250" data-index="0" data-update="ETCP_MasteringEngineers_Val" data-target="EditTrackCredits_SbmtBtn" />
                    </div>
                </div>
                <div class="mt-3" id="ETC_RecordingEngineers_Box" data-input="ETC_RecordingEngineers_Val" style="display: none;">
                    <span class="form-label fw-500 ms-1">Recording Engineer(s)</span>
                    <div class="mt-1">
                        <button type="button" class="btn btn-standard-bordered btn-add-element btn-sm" data-prototype="ETC_RecordingEngineers_Val-0" data-remove-btn="SomeShitListed_Box-OpenBtn9"> <i class="fa-solid fa-plus"></i> Add More</button>
                        <button type="button" class="btn btn-standard-bordered btn-elements-listed btn-open-vertical-switcher btn-sm super-disabled" id="SomeShitListed_Box-OpenBtn9" data-prototype="ETC_RecordingEngineers_Val-0" style="display: none;"> <i class="fa-solid fa-xmark"></i> Remove</button>
                        <input type="text" class="form-control form-control-juxtaposed mt-1" name="RecordingEngineers" id="ETC_RecordingEngineers_Val-0" placeholder="Enter the name of recording engineer" maxlength="250" data-index="0" data-update="ETCP_RecordingEngineers_Val" data-target="EditTrackCredits_SbmtBtn" />
                    </div>
                </div>
                <div class="mt-3" id="ETC_SoundDesigners_Box" data-input="ETC_SoundDesigners_Val" style="display: none;">
                    <span class="form-label fw-500 ms-1">Sound Designer(s)</span>
                    <div class="mt-1">
                        <button type="button" class="btn btn-standard-bordered btn-add-element btn-sm" data-prototype="ETC_SoundDesigners_Val-0" data-remove-btn="SomeShitListed_Box-OpenBtn10"> <i class="fa-solid fa-plus"></i> Add More</button>
                        <button type="button" class="btn btn-standard-bordered btn-elements-listed btn-open-vertical-switcher btn-sm super-disabled" id="SomeShitListed_Box-OpenBtn10" data-prototype="ETC_SoundDesigners_Val-0" style="display: none;"> <i class="fa-solid fa-xmark"></i> Remove</button>
                        <input type="text" class="form-control form-control-juxtaposed mt-1" name="RecordingEngineers" id="ETC_SoundDesigners_Val-0" placeholder="Enter the name of recording engineer" maxlength="250" data-index="0" data-update="ETCP_SoundDesigners_Val" data-target="EditTrackCredits_SbmtBtn" />
                    </div>
                </div>
                <div class="box-sticky-at-bottom mx-auto shadow-sm" id="RoleSticky_Box">
                    <div class="box-sticky-at-bottom-header">
                        <div class="hstack gap-1">
                            <span class="h6">Choose Roles to Add</span>
                        </div>
                    </div>
                    <div class="box-standard mt-1">
                        <button type="button" class="btn btn-standard-bordered btn-show-field-box w-100" id="ETC_Producers_Box-BtnShow">Producer(s) <span class="float-end"> <i class="fa-solid fa-gears"></i> </span></button>
                        <button type="button" class="btn btn-standard-bordered btn-show-field-box w-100" id="ETC_Arranger_Box-BtnShow">Arranger(s) <span class="float-end"> <i class="fa-solid fa-wave-square"></i> </span></button>
                        <button type="button" class="btn btn-standard-bordered btn-show-field-box w-100 mt-2" id="ETC_FeaturedArtists_Box-BtnShow">Featured Artist(s) <span class="float-end"> <i class="fa-solid fa-user-plus"></i> </span></button>
                        <button type="button" class="btn btn-standard-bordered btn-show-field-box w-100 mt-2" id="ETC_Instrumentalists_Box-BtnShow">Instrumentalist(s) <span class="float-end"> <i class="fa-solid fa-guitar"></i> </span></button>
                        <button type="button" class="btn btn-standard-bordered btn-show-field-box w-100 mt-2" id="ETC_MixingEngineers_Box-BtnShow">Mixing Engineer(s) <span class="float-end"> <i class="fa-solid fa-gears"></i> </span></button>
                        <button type="button" class="btn btn-standard-bordered btn-show-field-box w-100 mt-2" id="ETC_MasteringEngineers_Box-BtnShow">Mastering Engineer(s) <span class="float-end"> <i class="fa-solid fa-code-pull-request"></i> </span></button>
                        <button type="button" class="btn btn-standard-bordered btn-show-field-box w-100 mt-2" id="ETC_RecordingEngineers_Box-BtnShow">Recording Engineer(s) <span class="float-end"> <i class="fa-solid fa-headset"></i> </span></button>
                        <button type="button" class="btn btn-standard-bordered btn-show-field-box w-100 mt-2" id="ETC_SoundDesigners_Box-BtnShow">Sound Designer(s) <span class="float-end"> <i class="fa-solid fa-braille"></i> </span></button>
                    </div>
                </div>
                <button type="button" class="btn btn-sticky-at-bottom btn-open-sticky-box mx-auto shadow-sm" id="RoleSticky_Box-BtnOpen">Add More Roles</button>
                <div class="mt-3">
                    <button type="submit" class="btn btn-standard-bolded btn-classic-styled super-disabled w-100" id="EditTrackCredits_SbmtBtn">Save Credits</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="box-lg-part-inner" id="EditTrackCreditsPreview_Container">
    <div class="box-lg-inner-part-header p-2" id="EditTrackCreditsPreview_Container-Header_Box">
        <div class="hstack gap-1">
            <h5 class="h5">Credits Preview</h5>
            <button type="button" class="btn btn-standard btn-sm ms-auto" id="EditTrackCreditsPreview-CloseBtn">Close</button>
        </div>
    </div>
    <div class="box-standard mt-2 p-2" id="EditTrackCreditsPreview_Box">
        <div class="box-bordered p-2">
            <span class="h6" id="ETCP_MainVocalists_Span-Header">Main Vocalist</span>
            <br />
            <small class="card-text" id="ETCP_MainVocalists_Span">Undefined</small>
        </div>
    </div>
</div>

<div class="box-lg-part shadow-sm" id="@* Primary_Container *@">
    <div class="box-lg-part-header p-2">
        <div class="div-swiper mx-auto" id="AddSingle_Container-Swiper"></div>
        <div class="hstack gap-1">
            <button type="button" class="btn btn-standard btn-back btn-sm"> <i class="fa-solid fa-chevron-left"></i> Back</button>
            <div class="ms-2">
                <span class="h5" id="AddSingle_Container-Header_Lbl">Add Single</span>
            </div>
        </div>
        <div class="box-bordered mt-1 p-1" id="SinglePreviewCredits_Box">
            <div class="hstack gap-1">
                <div>
                    <div class="ongaku-player-album-box-sm" id="SPC_Img_Box"> <i class="fa-solid fa-music"></i> </div>
                    <img src="#" class="ongaku-player-album-box-sm" alt="This image cannot be displayed" id="SPC_Img" style="display: none;" />
                </div>
                <div class="ms-1">
                    <span class="h6" id="SPC_Title_Span">Title Name</span>
                    <div>
                        <small class="explicit-span" id="SPC_Explicit_Span" style="display: none;">E</small>
                        <small class="card-text">@UserInfo.Nickname<span id="SPC_Artists_Span"></span></small>
                        <small class="card-text text-muted"> ∙ <span id="SPC_Genres_Span">Genre</span></small><small class="card-text text-muted" id="SPC_ReleaseYear_Span">, @DateTime.Now.Year</small>
                    </div>
                </div>
                <div class="dropdown ms-auto">
                    <button class="btn btn-standard" type="button" data-bs-toggle="dropdown" aria-expanded="false"> <i class="fa-solid fa-ellipsis"></i> </button>
                    <ul class="dropdown-menu shadow-sm">
                        <li><button type="button" class="dropdown-item">View Credits <span class="float-end"> <i class="fa-solid fa-circle-info"></i> </span></button></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><span class="dropdown-item-text" id="SPC_Duration_Span">0:00 <span class="float-end"> <i class="fa-solid fa-clock"></i> </span></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="box-lg-part-body mt-5" id="AddSingle_Box">
        <div class="box-vertical-switcher p-1" id="TrackTitleRestrictions_Box">
            <button type="button" class="btn btn-standard-bolded btn-close-vertical-switcher btn-sm float-end ms-1" id="TrackTitleRestrictions_Box-Close_Btn">Done</button>
            <div class="box-standard mt-2">
                <h5 class="h5">Title Tips</h5>
                <p class="card-text">Here are some tips about title restrictions. Tracks with these kinds of names can be deleted or muted repeatedly until you update them</p>
                <h6 class="h6">Track title <span class="fw-500">should not contain</span>:</h6>
                <div>
                    <ol>
                        <li class="card-text">
                            <span><span class="fw-500">Unnecessary Descriptors</span><br/>Any type of text like:</span>
                            <div class="box-bordered p-2 mt-1 mb-1">
                                <span class="card-text">Official Audio<br/></span>
                                <span class="card-text"><span class="fw-500">HD</span>/<span class="fw-500">HQ</span>/<span class="fw-500">4K</span> and etc.<br /></span>
                                <span class="card-text"><span class="fw-500">Track 01</span>/<span class="fw-500">Song 5</span> and etc. (unless it is part of the actual title)<br/></span>
                                <span class="card-text">File extensions (<span class="fw-500">.wav</span>, <span class="fw-500">.mp3</span> and others)<br /></span>
                            </div>
                            <span>Keep it clean like <span class="fw-500">Stay With Me</span> and not like <span class="fw-500">Stay With Me (Official Audio)</span></span>
                        </li>
                        <li class="card-text mt-2">
                            <span class="fw-500">Misleading or Promotional Text</span>
                            <div class="box-bordered p-2 mt-1 mb-1">
                                <span class="card-text"><span class="fw-500">#1 Hit</span>/<span class="fw-500">Best Song of the Year</span> and etc.<br/></span>
                                <span class="card-text"><span class="fw-500">Listen Now!</span>/<span class="fw-500">Free Download!</span> and etc. <br/></span>
                                <span class="card-text">Clickbait-like titles</span>
                            </div>
                        </li>
                        <li class="card-text mt-2">
                            <span class="fw-500">Incorrect Use of Featurings</span>
                            <div class="box-bordered p-2 mt-1 mb-1">
                                <span class="card-text">Do not write like <span class="fw-500">My Song feat./ft. Artist</span><br/></span>
                                <span class="card-text">Avoid writing titles like this: <span class='fw-500'>My Song (feat. Artist)</span> — don’t use parentheses to list featured artists. Use this option if the artist doesn’t have an account and can’t be added as a featured artist in the main field</span>
                            </div>
                            <span>Instead, use the original field to find and add them. This way, they will appear properly with their account links</span>
                        </li>
                        <li class="card-text mt-2">
                            <span class="fw-500">Emojis or Special Characters</span>
                            <div class="box-bordered p-2 mt-1 mb-1">
                                <span class="card-text">Emojis and excessive punctuation like: <span class="fw-500">🔥My Song!!🔥</span></span>
                            </div>
                            <span>Instead, use multiple languages to add creative flair to your title (if it makes sense)</span>
                        </li>
                        <li class="card-text mt-2">
                            <span class="fw-500">Repetition of Artist Name</span>
                            <div class="box-bordered p-2 mt-1 mb-1">
                                <span class="card-text">Do not name your track like: <span class="fw-500">My Song by Me</span> and etc.<br/></span>
                            </div>
                            <span>Remember, your name is automatically added in the artist field, along with any featured artists you have included</span>
                        </li>
                        <li class="card-text mt-2">
                            <span class="fw-500">Illegal and Offensive Content</span>
                            <div class="box-bordered p-2 mt-1 mb-1">
                                <span class="card-text">Avoid illegal or offensive content in your track title, even if it appears in the lyrics. You can blur it with symbols (for example: <span class="fw-500">*</span>)<br/></span>
                                <span class="card-text">Unflagged explicit tracks will be muted until flagged or automatically marked as explicit</span>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="mt-5 pt-sm-3 pt-4">
            @* <div class="box-standard">
                <div class="row">
                    <div class="col date-box calendar-days-box" id="CalendarDays_Box">
                    </div>
                    <div class="col date-box calendar-hrs-box" id="CalendarHours_Box">
                    </div>
                    <div class="col date-box calendar-mins-box" id="CalendarMinutes_Box">
                    </div>
                    <div class="col date-box calendar-hrformat-box" id="CalendarDateTimeFormat_Box">
                        <button type="button" class="btn btn-standard btn-dtformat-type bg-chosen-bright w-100" data-val="AM">AM</button>
                        <button type="button" class="btn btn-standard btn-dtformat-type w-100" data-val="PM">PM</button>
                    </div>
                </div>
                <div class="box-standard row mt-2">
                    <div class="col col-3">
                        <button type="button" class="btn btn-standard-bordered btn-decrease-the-value w-100" id="CalendarYearValueLowerer_Btn" data-step="1" data-target="CalendarYear_Val" data-format-type="0"> <i class="fa-solid fa-minus"></i></button>
                    </div>
                    <div class="col col-6">
                        <input type="number" class="d-none" id="CalendarDay_Val" value="1" />
                        <input type="number" class="d-none" id="CalendarMonth_Val" value="1" />
                        <input type="number" class="d-none" id="CalendarYear_Val" value="0" />
                        <input type="number" class="d-none" id="CalendarHr_Val" value="0" />
                        <input type="number" class="d-none" id="CalendarMin_Val" value="0" />
                        <input type="number" class="form-control form-control-date-year" id="CalendarYear_Val" placeholder="Enter year value here" min="1750" max="2025" step="1" value="2025" />
                    </div>
                    <div class="col col-3">
                        <button type="button" class="btn btn-standard-bordered btn-increase-the-value w-100" id="CalendarYearValueIncreaser_Btn" data-step="1" data-target="CalendarYear_Val" data-format-type="0"> <i class="fa-solid fa-plus"></i> </button>
                    </div>
                </div>
                <div class="box-standard mt-2">
                    <button type="button" class="btn btn-standard-bolded btn-classic-styled btn-calendar-submit w-100" id="CalendarSubmit_Btn">Set for <span class="calendar-chosen-dt-span" id="ChosenDateTime_Span">today, at 23:00</span></button>
                </div>
            </div> *@

            @* <div class="box-standard mt-1">
                <div class="box-bordered p-2">
                    <div>
                        <span class="h4 ongaku-track-name-lbl">Not Playing</span>
                        <div>
                            <small class="card-text ongaku-artist-name-lbl text-muted">no file chosen</small>
                        </div>
                    </div>
                    <div class="hstack gap-1 mt-1">
                        <span class="card-text text-muted ongaku-track-duration-current">0:00</span>
                        <div class="ongaku-track-duration-line-enlarged">
                            <div class="ongaku-track-current-duration-line-enlarged"></div>
                        </div>
                        <span class="card-text text-muted ongaku-track-duration-left">0:00</span>
                    </div>
                    <div class="row w-100 mt-1">
                        <div class="col">
                            <button type="button" class="btn btn-ongaku-player btn-reverse-track btn-ongaku-player-enlarged w-100"> <i class="fa-solid fa-backward"></i> </button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-ongaku-player btn-play-pause-track btn-ongaku-player-enlarged w-100"> <i class="fa-solid fa-play"></i> </button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-ongaku-player btn-forward-track btn-ongaku-player-enlarged w-100"> <i class="fa-solid fa-forward"></i> </button>
                        </div>
                    </div>
                </div>
                <div class="box-standard row mt-2" id="AddedTracks_Box">
                </div>
            </div> *@

@*             <div class="col">
                <div class="track-preview-box">
                    <h5 class="h5">Track Name</h5>
                    <span class="badge badge-standard">.mp3</span>
                    <div class="mt-2">
                        <button type="button" class="btn btn-standard-bordered btn-play-track me-1"> <i class="fa-solid fa-play"></i> Play</button>
                        <button type="button" class="btn btn-standard-bordered me-1"> <i class="fa-solid fa-scissors"></i> Snippet</button>
                    </div>
                </div>
            </div> *@

            @* <div class="x-row-sliding-only-box">
                <div class="release-box">
                    <img src="#" class="release-img" />
                    <div class="release-img-box"> <i class="fa-solid fa-music"></i> </div>
                    <div class="box-standard text-truncate mt-1">
                        <div class="dropdown">
                            <button class="btn btn-standard btn-sm float-end ms-1" type="button" data-bs-toggle="dropdown" aria-expanded="false"> <i class="fa-solid fa-ellipsis"></i> </button>
                            <ul class="dropdown-menu shadow-sm p-1">
                                <li><button type="button" class="dropdown-item btn-sm">Edit Credits<span class="float-end"> <i class="fa-solid fa-pencil"></i> </span></button></li>
                                <li><button type="button" class="dropdown-item btn-sm">Edit Cover <span class="float-end"> <i class="fa-solid fa-images"></i> </span></button></li>
                                <li><button type="button" class="dropdown-item btn-sm">Submit <span class="float-end"> <i class="fa-solid fa-check-double"></i> </span></button></li>
                                <li><button type="button" class="dropdown-item btn-sm text-danger">Delete <span class="float-end"> <i class="fa-solid fa-xmark"></i> </span></button></li>
                            </ul>
                        </div>
                        <span class="h6 text-truncate">Release Name</span>
                        <div>
                            <span class="badge-sm btn-tooltip" data-bs-toggle="tooltip" data-bs-html="true" data-bs-custom-class="tooltip-standard shadow-sm" data-bs-placement="bottom" data-bs-title="The track will be released as soon as we get your submission"> <i class="fa-solid fa-spinner fa-spin-pulse"></i> Pending</span>
                            <br />
                            <small class="card-text text-muted">Genre(s) ∙ 2025</small>
                        </div>
                    </div>
                </div>
            </div> *@

            <form method="post" action="/Track/Release" id="ReleaseASingle_Form">
                <div class="d-none" id="FeaturingArtistInputs_Box"></div>
                <div class="d-none" id="ChosenGenreInputs_Box"></div>
                <div class="d-none" id="ChosenGenreNameInputs_Box"></div>
                <input type="number" class="d-none" name="ReleaseDateDay" id="RAS_ReleaseDate_Val-Day" />
                <input type="number" class="d-none" name="ReleaseDateMonth" id="RAS_ReleaseDate_Val-Month" />
                <input type="number" class="d-none" name="ReleaseDateYear" id="RAS_ReleaseDate_Val-Year" />
@*                 <input type="text" class="d-none" name="ReleaseDate" id="RAS_ReleaseDate_Val" /> *@
@*                 <input type="file" class="d-none" name="TrackFileUrl" id="RAS_TrackFileUrl_Val" data-trigger="ReleaseASingle_Form" data-order-target="RAS_TrackFileUrl_Val" accept="audio/mp3, audio/wav, audio/ogg, audio/aac, audio/flac, audio/m4a" multiple /> *@
                <input type="file" class="d-none" name="TrackFileUrl" id="RAS_TrackFileUrl_Val" accept="audio/mp3, audio/wav, audio/ogg, audio/aac, audio/flac, audio/m4a" />
                <input type="file" class="d-none" name="CoverImageUrl" id="RAS_CoverImg_Url" accept="image/png, image/webp, image/jpeg" />
                <div>
                    <button type="button" class="btn btn-standard btn-open-vertical-switcher btn-sm float-end ms-1" id="TrackTitleRestrictions_Box-OpenBtn"> <i class="fa-solid fa-circle-info"></i></button>
                    <label class="form-label fw-500 ms-1">Track Title</label>
                    <input type="text" class="form-control form-control-guard" name="Title" id="RAS_Title_Val" placeholder="Title of your track" data-min-length="1" data-update="SPC_Title_Span" data-base-value="Track Title" data-target="ReleaseASingle_SbmtBtn" />
                </div>
                <div class="mt-1 ms-1">
                    <small class="card-text text-muted">There are a few restrictions on track titles. If you're not familiar with them, please <span> <i class="fa-solid fa-circle-info"></i> </span> tap to read the guidelines</small>
                </div>
                <div class="mt-3">
                    <span class="form-label fw-500 ms-1">Featuring Artist(s)</span>
                    <small class="card-text text-muted" id="SearchForUsers_SbmtBtn"></small>
                    <div id="ArtistSearch_Box" style="display: none;">
                        <small class="card-text text-muted ms-1">Found: <span id="FoundArtistsQty_Span">0</span></small>
                        <div class="mt-1" id="ArtistsSearchResult_Box"></div>
                    </div>
                    <div id="AlreadyAddedArtists_Box" style="display: none;">
                        <small class="card-text text-muted ms-1">Added Artists:</small>
                        <div class="mt-1" id="ArtistsAddedResult_Box"></div>
                    </div>
                    <input type="text" class="form-control form-control-trigger mt-2" id="FeaturingArtistsSearch_Val" placeholder="Enter artist names to search" data-trigger="SearchForUsers_Keyword_Val" data-trigger-interval="0.5" data-idle-label="SearchForUsers_SbmtBtn" data-idle-text="Searching..." />
                </div>
                <div class="mt-1 ms-1">
                    <small class="card-text text-muted" id="FeaturingArtistsSearch_Val-Warn">Enter artist names to search. Tap a name from the list to add them as a featuring artist. If not found, include them in the title like: <span class='fw-500'>My Song (feat. My Frnd)</span></small>
                </div>
                <div class="mt-3">
                    <label class="form-label fw-500 ms-1">Release Date</label>
                    <div>
                        <button type="button" class="btn btn-standard btn-tooltip btn-sm float-end ms-1" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-custom-class="tooltip-standard shadow-sm" data-bs-title="For past releases, select the correct date below. For future releases, set a date to mark it as a premiere with a banner and extra features"> <i class="fa-solid fa-circle-info"></i> </button>
                        <button type="button" class="btn btn-standard-bordered btn-show-the-clock btn-sm me-1" data-type="2" data-target="RAS_ReleaseDate_Val" data-date-display="RAS_ReleaseDateTrigger_Val" data-current-year="2025"> <i class="fa-solid fa-calendar-day"></i> Set Date</button>
                        <button type="button" class="btn btn-standard-bordered btn-clock-dt-reset btn-sm super-disabled" data-target="RAS_ReleaseDate_Val" data-date-display="RAS_ReleaseDateTrigger_Val"> <i class="fa-solid fa-arrow-rotate-right"></i> Reset for Today</button>
                    </div>
                    <input type="text" class="form-control date-and-time-display mt-1" id="RAS_ReleaseDateTrigger_Val" value="Set for Today" placeholder="Today, by default" />
                </div>
                <div class="ms-1 mt-1">
                    <small class="card-text text-muted" id="RAS_ReleaseDateTrigger_Val-Warn">Keep default to release immediately after submission</small>
                </div>
                <div class="mt-3">
                    <span class="form-label fw-500 ms-1">Genres</span>
                    <small class="card-text text-muted" id="RAS_LoadGenres_Span"></small>
                    <div class="mt-1" id="GenresInfo_Box">
                        <button type="button" class="btn btn-standard btn-tooltip btn-sm float-end ms-1" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-custom-class="tooltip-standard shadow-sm" data-bs-title="At least one genre is required"> <i class="fa-solid fa-circle-info"></i> </button>
                        <button type="button" class="btn btn-standard-bordered btn-sm" id="RAS_LoadAllGenres_Btn"> <i class="fa-solid fa-rectangle-list"></i> All Genres</button>
                        <div class="mt-1" id="ChosenGenres_Box" style="display: none;"></div>
                    </div>
                    <input type="text" class="form-control form-control-trigger mt-1" placeholder="Type to search genres..." id="RAS_GenreSearch_Val" data-trigger="SearchForGenres_Keyword_Val" data-trigger-interval="0.75" data-idle-label="RAS_LoadGenres_Span" data-idle-text="Searching..." />
                </div>
                <div class="mt-1 ms-1">
                    <small class="card-text text-muted" id="RAS_LoadGenres_Btn-Warn">To view all genres, simply tap the field and leave it blank. Select up to <span class="fw-500">3</span> genres. Required for recommendations</small>
                </div>
                <div class="box-bordered mt-3 p-2">
                    <button type="button" class="btn btn-standard-bordered btn-trigger btn-sm float-end ms-1" id="RAS_AddTrackFile_Btn" data-trigger="RAS_TrackFileUrl_Val"> <i class="fa-solid fa-file-audio"></i> Upload Track</button>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="HasExplicit" id="RAS_HasExplicit_Val" data-checked="SPC_Explicit_Span" value="false" />
                        <label class="form-check-label fw-500" for="RAS_HasExplicit_Val">Explicit Content <small class="explicit-span">E</small></label>
                    </div>
                    <div class="mt-1 ms-1">
                        <small class="card-text text-muted" id="RAS_HasExplicit_Val-Warn">Mark if your song contains explicit content</small>
                    </div>
                    <div class="box-standard separator-bright mt-2 pt-2">
                        <button type="button" class="btn btn-standard-bordered btn-trigger btn-sm me-1" id="RAS_AddCoverImg_Btn" data-trigger="RAS_CoverImg_Url"> <i class="fa-solid fa-image"></i> Upload Cover</button>
                        <button type="button" class="btn btn-standard-bordered btn-sm super-disabled me-1" id="RAS_RemoveCoverImg_Btn"> <i class="fa-solid fa-xmark"></i> Remove Image</button>
                    </div>
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-standard-bolded btn-classic-styled super-disabled w-100" id="ReleaseASingle_SbmtBtn">Continue to Submitting</button>
                </div>
                <div class="box-bordered text-center mt-2 p-1">
                    <small class="card-text text-muted">Add lyrics, label info, and credits next — or later. Your track stays <span class='fw-500'>muted</span> until manual submission.<br />Lyrics and label info are optional</small>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="box-lg-part shadow-sm" id="AddMusic_Container">
    <div class="box-lg-part-header p-2">
        <div class="div-swiper mx-auto" id="AddMusic_Container-Swiper"></div>
        <div class="hstack gap-1">
            <button type="button" class="btn btn-standard btn-back btn-sm"> <i class="fa-solid fa-chevron-left"></i> Back</button>
            <div class="ms-2">
                <span class="h5" id="AddMusic_Container-Header_Lbl">Add New Release</span>
            </div>
        </div>
    </div>
    <div class="box-lg-part-body mt-5" id="AddMusic_Box">
        <div class="box-standard text-center p-2">
            <h3 class="h3">Choose the Way</h3>
            <small class="card-text text-muted">Select what you would like to add</small>
            <div class="row mt-3">
                <div class="col">
                    <button type="button" class="btn btn-standard-bordered btn-lg btn-open-container text-center w-100" id="AddSingle_Container-Open"> <i class="fa-solid fa-music"></i> <br/>Single</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-standard-bordered btn-lg text-center w-100"> <i class="fa-solid fa-record-vinyl"></i> <br />Album, EP</button>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <button type="button" class="btn btn-standard-bordered btn-lg text-center w-100"> <i class="fa-solid fa-podcast"></i> <br/>Podcast</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-standard-bordered btn-lg text-center w-100"> <i class="fa-solid fa-book"></i> <br/>Book</button>
                </div>
            </div>
            <div class="box-bordered mt-2 p-2">
                <small class="card-text text-muted">Keep in mind that the distinction between albums and EPs is based on total runtime — not the number of tracks. So, even if your release includes more than <span class="fw-500">six</span> tracks, it will still be classified as an EP if the total duration is under <span class="fw-500">30</span> minutes</small>
            </div>
        </div>
    </div>
</div>

<div class="ongaku-player-box shadow-sm" id="OngakuPlayer_Container">
    <div class="ongaku-player-bg-box" id="OngakuPlayerBackground_Box">
        <div class="box-hidden-on-left" id="OngakuPlayerNotMainPart_Box">
            <div class="hstack gap-1">
                <div>
                    <span class="ongaku-track-name-lbl text-truncate" id="OngakuPlayer_TrackNameDublicate_Lbl">Track Name</span>
                    <div>
                        <small class="ongaku-artist-name-lbl text-muted text-truncate" id="OngakuPlayer_ArtistsDublicate_Span">Artists</small>
                    </div>
                </div>
                <div class="d-none">
                    <form method="get" action="/Track/Load" id="LoadTheTrack_Form">
                        <input type="hidden" name="Id" id="OngakuPlayer_TrackId_Val" value="0" />
                        <input type="hidden" name="PlaylistId" id="OngakuPlayer_PlaylistId_Val" value="0" />
                    </form>
                    <form method="get" action="/Track/StreamAudio" id="StreamTheTrack_Form">
                        <input type="hidden" name="Id" id="StreamTheTrack_Id_Val" />
                        <input type="hidden" name="Url" id="StreamTheTrack_Url_Val" />
                    </form>
                    <form method="post" action="/Playlists/Unfavor" id="RemoveFromFavorites_Form">
                        <input type="hidden" name="Id" id="UnfavorThePlaylist_Id_Val" />
                    </form>
                    <audio src="#" class="d-none" id="OngakuPlayer_Audio" preload="metadata"></audio>
                </div>
                <div class="box-standard text-center ms-auto">
                    <div>
                        <button type="button" class="btn btn-ongaku-player btn-ongaku-player-extend me-1"> <i class="fa-solid fa-outdent"></i> </button>
                        <button type="button" class="btn btn-badged btn-playback-rate me-1" data-speed="1" data-target="OngakuPlayer_Audio">1.0x</button>
                        <button type="button" class="btn btn-ongaku-player btn-audio-loop text-unchosen me-1" data-status="0"> <i class="fa-solid fa-repeat"></i> </button>
                        <button type="button" class="btn btn-ongaku-player btn-audio-shuffle text-unchosen"> <i class="fa-solid fa-shuffle"></i> </button>
                    </div>
                    <div class="hstack gap-1 mt-1 ps-1 pe-1">
                        <button type="button" class="btn btn-ongaku-player btn-volume-mute btn-sm me-1" data-target="OngakuPlayer_Audio"> <i class="fa-solid fa-volume-off"></i> </button>
                        <input type="range" class="form-range-slider volume-range-slider" id="OngakuPlayer_Volume_Val" max="100" value="100" step="1" data-target="OngakuPlayer_Audio" />
                        <button type="button" class="btn btn-ongaku-player btn-volume-max btn-sm ms-1" data-target="OngakuPlayer_Audio"> <i class="fa-solid fa-volume-high"></i> </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="hstack gap-1" id="OngakuPlayerMainPart_Box">
            <div class="box-standard" id="ImgPart_Box">
                <div class="ongaku-player-album-box mx-auto" id="OngakuPlayer_NoImg_Box"> <i class="fa-solid fa-music"></i> </div>
                <img class="ongaku-player-album-img" src="#" id="OngakuPlayer_Img" style="display: none;" />
            </div>
            <div class="box-standard ms-1" id="TrackDetailsPart_Box">
                <span class="h6 ongaku-track-name-lbl text-truncate" id="OngakuPlayer_TrackName_Lbl">Track Name</span>
                <div>
                    <small class="ongaku-artist-name-lbl text-muted text-truncate" id="OngakuPlayer_Artists_Span">Artists</small>
                </div>
            </div>
            <div class="box-standard ms-auto" id="TrackButtons_Box">
                <div>
                    <button type="button" class="btn btn-ongaku-player btn-ongaku-player-extend btn-sm d-touch-none me-1"> <i class="fa-solid fa-indent"></i> </button>
                    <button type="button" class="btn btn-ongaku-player btn-ongaku-player-rounded btn-track-favor-unfavor btn-sm me-1"> <i class="fa-solid fa-star"></i> </button>
                    <button type="button" class="btn btn-ongaku-player btn-ongaku-player-backward btn-sm me-1"> <i class="fa-solid fa-backward"></i> </button>
                    <button type="button" class="btn btn-ongaku-player btn-play-pause-track btn-player-play-pause-track btn-sm me-1" id="OngakuPlayer_PlayPause_Btn"> <i class="fa-solid fa-play"></i> </button>
                    <button type="button" class="btn btn-ongaku-player btn-ongaku-player-forward btn-sm"> <i class="fa-solid fa-forward"></i> </button>
                </div>
                <div class="hstack gap-1 mt-1">
                    <small class="card-text text-muted ongaku-track-duration-current">0:00</small>
                    <div class="ongaku-track-duration-line" id="OngakuPlayer_TrackDuration_Box">
                        <div class="ongaku-track-current-duration-line"></div>
                    </div>
                    <small class="card-text text-muted ongaku-track-duration-left">0:00</small>
                </div>
            </div>
        </div>
    </div>

    <div class="ongaku-player-bg-box-enlarged" id="OngakuPlayerBackground_Enlarged_Box">
        <div class="ongaku-div-swiper mx-auto"></div>
        <div class="hstack gap-1 mt-2 d-none d-md-flex">
            <div class="box-standard ongaku-img-box" id="ImgPart_Enlarged_Box">
                <div class="ongaku-player-album-box-enlarged" id="OngakuPlayer_NoImg_Enlarged_Box"> <i class="fa-solid fa-music"></i> </div>
                <img class="ongaku-player-album-img-enlarged" src="#" id="OngakuPlayer_Enlarged_Img" style="display: none;" />
            </div>
            <div class="box-standard w-100 ms-2">
                <div>
                    <span class="h2 ongaku-track-name-lbl text-truncate" id="OngakuPlayer_TrackNameDublicate_Enlarged_Lbl">Track Name</span>
                    <div>
                        <span class="ongaku-artist-name-lbl text-muted text-truncate" id="OngakuPlayer_ArtistNameDublicate_Enlarged_Lbl">Artist Name</span>
                        <br />
                        <span class="ongaku-album-name-lbl text-muted text-truncate" id="OngakuPlayer_AlbumName_Enlarged_Lbl">Album Name</span>
                    </div>
                </div>
                <div class="hstack gap-1 mt-3 w-100">
                    <span class="card-text text-muted ongaku-track-duration-current">0:00</span>
                    <div class="ongaku-track-duration-line-enlarged" id="OngakuPlayer_TrackDurationEnlarged_Box">
                        <div class="ongaku-track-current-duration-line-enlarged"></div>
                    </div>
                    <span class="card-text text-muted ongaku-track-duration-left">0:00</span>
                </div>
                <div class="row box-standard text-center mt-3" id="TrackButtons_Enlarged_Box">
                    <div class="col">
                        <button type="button" class="btn btn-ongaku-player btn-ongaku-player-rounded btn-ongaku-player-enlarged btn-track-favor-unfavor"> <i class="fa-solid fa-star"></i> </button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-ongaku-player btn-ongaku-player-enlarged btn-ongaku-player-backward"> <i class="fa-solid fa-backward"></i> </button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-ongaku-player btn-play-pause-track btn-ongaku-player-enlarged" id="OngakuPlayer_PlayPause_BtnFirstEnlarged"> <i class="fa-solid fa-play"></i> </button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-ongaku-player btn-ongaku-player-enlarged btn-ongaku-player-forward"> <i class="fa-solid fa-forward"></i> </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-2 d-block d-sm-none">
            <div class="box-standard ongaku-img-box" id="ImgPart_EnlargedX_Box">
                <div class="ongaku-player-album-box-enlarged" id="OngakuPlayer_NoImg_EnlargedX_Box"> <i class="fa-solid fa-music"></i> </div>
                <img class="ongaku-player-album-img" src="#" id="OngakuPlayer_EnlargedX_Img" style="display: none;" />
            </div>
            <div class="box-standard text-center mt-2">
                <span class="h2 ongaku-track-name-lbl text-truncate" id="OngakuPlayer_TrackNameDublicate_Enlarged_Lbl">Track Name</span>
                <div>
                    <span class="ongaku-artist-name-lbl text-muted text-truncate" id="OngakuPlayer_ArtistNameDublicate_Enlarged_Lbl">Artist Name</span>
                    <br />
                    <span class="ongaku-album-name-lbl text-muted text-truncate" id="OngakuPlayer_AlbumName_Enlarged_Lbl">Album Name</span>
                </div>
            </div>
            <div class="hstack gap-1 text-center mt-3 w-100">
                <span class="card-text text-muted ongaku-track-duration-current">0:00</span>
                <div class="ongaku-track-duration-line-enlarged" id="OngakuPlayer_TrackDurationEnlarged_Dublicate_Box">
                    <div class="ongaku-track-current-duration-line-enlarged"></div>
                </div>
                <span class="card-text text-muted ongaku-track-duration-left">0:00</span>
            </div>
            <div class="box-standard text-center row mt-3" id="TrackButtons_Enlarged_Box">
                <div class="col">
                    <button type="button" class="btn btn-ongaku-player btn-ongaku-player-rounded btn-ongaku-player-enlarged btn-track-favor-unfavor"> <i class="fa-solid fa-star"></i> </button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-ongaku-player btn-ongaku-player-enlarged btn-ongaku-player-backward"> <i class="fa-solid fa-backward"></i> </button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-ongaku-player btn-play-pause-track btn-ongaku-player-enlarged" id="OngakuPlayer_PlayPause_BtnSecondEnlarged"> <i class="fa-solid fa-play"></i> </button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-ongaku-player btn-ongaku-player-enlarged btn-ongaku-player-forward"> <i class="fa-solid fa-forward"></i> </button>
                </div>
            </div>
        </div>

        <div class="box-standard">
            <div class="box-standard mt-3 mt-sm-2" id="OngakuPlayer_MainAddLayer_Box">
                <span class="h5">Continue Playing</span>
                <div>
                    <small class="card-text text-muted">from <span id="OngakuPlayer_CurrentPlaylist_Span">undefined playlist</span></small>
                </div>
                <div class="ongaku-queue-box mt-3 mt-sm-2" id="OngakuPlayer_CurrentPlaylist_Box">
                    <div class="text-center">
                        <h3 class="h3"> <i class="fa-solid fa-list"></i> </h3>
                        <h5 class="h5">Nothing to Play</h5>
                        <small class="card-text text-muted">no songs is queue to play</small>
                    </div>
                </div>
            </div>
            <div class="box-standard" id="OngakuPlayer_NonMainAddLayer_Box" style="display: none;">
            </div>

            <div class="box-standard text-center mt-2">
                <div class="hstack gap-1">
                    <button type="button" class="btn btn-ongaku-player btn-volume-mute" data-target="OngakuPlayer_Audio"> <i class="fa-solid fa-volume-off"></i> </button>
                    <div class="w-100 ms-1 me-1">
                        <input type="range" class="form-range-slider form-range-slider-xl volume-range-slider" min="0" max="100" value="100" data-target="OngakuPlayer_Audio" />
                    </div>
                    <button type="button" class="btn btn-ongaku-player btn-volume-max" data-target="OngakuPlayer_Audio"> <i class="fa-solid fa-volume-high"></i> </button>
                    <div class="dropdown">
                        <button class="btn btn-ongaku-player" type="button" data-bs-toggle="dropdown" aria-expanded="false"> <i class="fa-solid fa-ellipsis"></i> </button>
                        <ul class="dropdown-menu shadow-sm p-1">
                            <li><button type="button" class="dropdown-item">Add to a Playlist <span class="float-end ms-1"> <i class="fa-solid fa-folder-plus"></i> </span></button></li>
                            <li><button type="button" class="dropdown-item">Go to Album <span class="float-end ms-1"> <i class="fa-solid fa-record-vinyl"></i> </span></button></li>
                            <li><button type="button" class="dropdown-item">Add to Queue <span class="float-end ms-1"> <i class="fa-solid fa-headphones"></i> </span></button></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="box-standard row mt-2">
                <div class="col">
                    <button type="button" class="btn btn-ongaku-player btn-ongaku-player-additional btn-badged btn-playback-rate w-100" data-target="OngakuPlayer_Audio" data-speed="1">1.0x</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-ongaku-player btn-ongaku-player-additional btn-audio-loop text-unchosen w-100" data-status="0"> <i class="fa-solid fa-repeat"></i> </button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-ongaku-player btn-ongaku-player-additional btn-audio-shuffle text-unchosen w-100" data-status="0"> <i class="fa-solid fa-shuffle"></i> </button>
                </div>
                <div class="col">
                    <form method="get" action="/Track/GetLyrics" id="GetTrackLyrics_Form">
                        <input type="hidden" name="Id" id="GetTrackLyrics_Id_Val" value="0" />
                        <input type="hidden" name="Type" id="GetTrackLyrics_Type_Val" value="0" />
                        <button type="submit" class="btn btn-ongaku-player btn-ongaku-player-additional super-disabled w-100" id="GetTrackLyrics_SbmtBtn"> <i class="fa-solid fa-quote-right"></i> </button>
                    </form>
                </div>
                <div class="col">
                    <form method="get" action="/Track/GetTrackCredits" id="GetTrackCredits_Form">
                        <input type="hidden" name="Id" id="GetTrackCredits_Id_Val" value="0" />
                        <input type="hidden" name="Type" id="GetTrackCredits_Type_Val" value="0" />
                        <button type="submit" class="btn btn-ongaku-player btn-ongaku-player-additional super-disabled w-100" id="GetTrackCredits_SbmtBtn"> <i class="fa-solid fa-circle-info"></i> </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
 

@* <div class="box-lg-part shadow-sm" id="Primary_Container ">
    <div class="box-lg-part-header p-2">
        <div class="div-swiper mx-auto" id="Primary_Container-Swiper"></div>
        <div class="hstack gap-1">
            <button type="button" class="btn btn-standard btn-back btn-sm"> <i class="fa-solid fa-chevron-left"></i> Back</button>
            <div class="ms-2">
                <span class="h5" id="Primary_Container-Header_Lbl">Release Name</span>
            </div>
        </div>
    </div>
    <div class="box-lg-part-body mt-5" id="Primary_Box">
        <div class="release-box-lg">
            <div class="dropdown">
                <button class="btn btn-standard float-end ms-1" type="button" data-bs-toggle="dropdown" aria-expanded="false"> <i class="fa-solid fa-pencil"></i> </button>
                <ul class="dropdown-menu shadow-sm">
                    <li><button type="button" class="dropdown-item">Edit Credits <span class="float-end ms-1"> <i class="fa-solid fa-user-pen"></i> </span></button></li>
                    <li><button type="button" class="dropdown-item">Edit Cover Image <span class="float-end ms-1"> <i class="fa-solid fa-images"></i> </span></button></li>
                    <li><button type="button" class="dropdown-item">Disable <span class="float-end ms-1"> <i class="fa-solid fa-volume-xmark"></i> </span></button></li>
                    <li><button type="button" class="dropdown-item text-danger">Delete <span class="float-end ms-1"> <i class="fa-solid fa-xmark"></i> </span></button></li>
                </ul>
            </div>
            <div class="hstack gap-1">
                <div class="release-img-box-lg" id="ReleaseInfo_Img_Box"> <i class="fa-solid fa-music"></i> </div>
                <img src="#" class="release-img-lg" id="ReleaseInfo_Img" />
                <div class="box-standard ms-1">
                    <div>
                        <small class="card-text"><span id="ReleaseInfo_Type_Span">Single</span><span id="ReleaseInfo_SongsQty_Span" style="display: none;">, 0</span> ∙ <span id="ReleaseInfo_TotalDuration_Span">3 min 46 sec</span></small>
                        <div></div>
                        <span class="h1" id="ReleaseInfo_Name_Lbl">Release Name</span>
                        <div class="btn-borderless-profile-tag mt-1">
                            <div class="hstack gap-1">
                                <div class="profile-avatar-sm bg-chosen-bright" id="ReleaseInfo_AuthorImg_Box">R</div>
                                <img src="#" class="profile-avatar-img-sm" alt="This image cannot be displayed" id="ReleaseInfo_Author_Img" style="display: none;" />
                                <small id="ReleaseInfo_MainArtist_Span">Rammstein</small>
                            </div>
                        </div>
                    </div>
                    <div class="box-standard mt-2">
                        <button type="button" class="btn btn-release-title btn-lg me-1"> <i class="fa-solid fa-play"></i> Play</button>
                        <button type="button" class="btn btn-release-title btn-lg me-1"> <i class="fa-solid fa-shuffle"></i> Shuffle</button>
                        <button type="button" class="btn btn-standard-bolded btn-lg me-1"> <i class="fa-solid fa-star"></i> </button>
                    </div>
                    <div class="box-standard mt-1">
                        <small class="card-text text-muted"><span id="ReleaseInfo_Genres_Span">Release Genres</span> ∙ <span id="ReleaseInfo_ReleaseYear_Span">2025</span></small>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-standard" id="ReleaseInfo_TrackBoxes_Box">
            <div class="track-table-box">
                <div class="hstack gap-1">
                    <button type="button" class="btn btn-track-table"> <i class="fa-solid fa-play"></i> </button>
                    <div class="ms-2">
                        <span class="h6">Amerika!</span>
                        <br />
                        <small class="artist-name-span text-muted">Rammstein</small>
                    </div>
                    <div class="ms-auto">
                        <small class="card-text text-muted me-1">3:46</small>
                        <div class="dropdown d-inline-block">
                            <button class="btn btn-track-table" type="button" data-bs-toggle="dropdown" aria-expanded="false"> <i class="fa-solid fa-ellipsis"></i> </button>
                            <ul class="dropdown-menu shadow-sm p-1">
                                <li><button type="button" class="dropdown-item">Add to Playlist <span class="float-end ms-1"> <i class="fa-solid fa-folder-plus"></i> </span></button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-bordered mt-2 p-2" id="ReleaseInfo_CreditsInfo_Box">
            <small class="card-text text-muted">Released <span class="card-text fw-500" id="ReleaseInfo_ReleasedAtDate_Span">15 april 2025</span></small>
            <br/>
            <small class="card-text text-muted">&copy; Released by <span class="card-text fw-500" id="ReleaseInfo_LabelInfo_Span">Rammstein (no label)</span></small>
        </div>
    </div>
</div> *@

<div class="box-lg-part shadow-sm" id="Primary_Container">
    <div class="box-lg-part-header p-2">
        <div class="hstack gap-1">
            <div class="dropdown">
                <button class="btn btn-standard me-1" type="button" data-bs-toggle="dropdown" aria-expanded="false"> <i class="fa-solid fa-ellipsis"></i> </button>
                <ul class="dropdown-menu shadow-sm p-1">
                    <li><button type="button" class="dropdown-item btn-sm">New post <span class="card-text float-end"> <i class="fa-solid fa-feather"></i> </span></button></li>
                    <li><button type="button" class="dropdown-item btn-sm">New poll <span class="card-text float-end"> <i class="fa-solid fa-square-poll-vertical"></i> </span></button></li>
                    <li><button type="button" class="dropdown-item btn-open-container btn-sm" id="AddMusic_Container-Open">Add Music <span class="card-text float-end"> <i class="fa-solid fa-microphone-lines"></i> </span></button></li>
                    <li>
                        <div>
                            <form method="get" asp-controller="Track" asp-action="GetStudioItems" id="GetStudioItems_Form">
                                <button type="submit" class="dropdown-item btn-sm">Studio <span class="card-text float-end"> <i class="fa-solid fa-music"></i> </span></button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="d-inline-block">
                <form method="get" asp-controller="Playlists" asp-action="GetFavorites" id="GetFavorites_Form">
                    <button type="submit" class="btn btn-standard" id="GetFavorites_SbmtBtn"> <i class="fa-solid fa-star"></i> Favorites</button>
                </form>
            </div>
            @if (UserInfo is not null)
            {
                @if (UserInfo.ImgUrl != null)
                {
                    <img class="btn-standard-profile text-center ms-auto" src="/ProfileImages/@UserInfo.ImgUrl" id="CurrentUserProfile_Img" />
                }
                else
                {
                    <a asp-controller="Profile" asp-action="P" class="btn-standard-profile text-center ms-auto">@UserInfo.Nickname![0]</a>
                }
            }
            else
            {

            }
        </div>
    </div>
    <div class="box-lg-part-body mt-5" id="Primary_Box">       
@*         <div class="box-bordered mt-2 p-2" id="ReleaseInfo_CreditsInfo_Box">
            <small class="card-text text-muted">
                Released
                <span class="card-text fw-500" id="ReleaseInfo_ReleasedAtDate_Span">15 april 2025</span>
            </small><br />
            <small class="card-text text-muted">
                &copy; Released by
                <span class="card-text fw-500" id="ReleaseInfo_LabelInfo_Span">Rammstein (no label)</span>
            </small>
        </div> *@

    </div>
</div>
