@model User
@{
    ViewData["Title"] = "Profile";
    User? UserInfo = ViewBag.UserInfo;   
}

<div class="box-sm-part shadow-sm">
    <div class="d-none">
        <form method="post" asp-controller="Profile" asp-action="EditImages" id="EditProfileImages_Form" enctype="multipart/form-data">
            <input asp-for="ImgUrl" type="file" name="Files" id="EditImage_Files_Val" accept="image/png, image/gif, image/jpeg" multiple />
        </form>
        <form method="get" asp-controller="Profile" asp-action="GetImagesQty" id="GetImagesQty_Form">
            <input type="hidden" name="Id" value="@UserInfo.Id" />
        </form>
        <form method="get" asp-controller="Profile" asp-action="GetImage" id="ProfileGetImage_Form">
            <input type="hidden" name="Skip" id="PGI_Skip_Val" value="0" />
        </form>
    </div>
    <div class="profile-info-box text-center">
        <div class="standard-profile-bar">
            <div class="float-start">
                <div class="dropdown">
                    <button class="btn btn-standard" type="button" data-bs-toggle="dropdown" aria-expanded="false"> <i class="fa-solid fa-ellipsis"></i> </button>
                    <ul class="dropdown-menu shadow-sm p-1">
                        <li><button type="button" class="dropdown-item btn-edit-profile-image" onmousedown="$('#EditImage_Files_Val').mousedown();"> <i class="fa-solid fa-image"></i> Edit Image</button></li>
                        <li>
                            <form method="post" asp-controller="Account" asp-action="LogOut" id="LogOut_Form">
                                <button type="submit" class="dropdown-item text-danger"> <i class="fa-solid fa-right-from-bracket"></i> Log Out</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="float-end ms-1">
                <button type="button" class="btn btn-standard btn-open-container btn-tooltip" id="EditProfile_Container-Open_Btn" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="tooltip-standard shadow-sm" data-bs-title="Edit nickname, searchname and/or account's description"> <i class="fa-solid fa-pencil"></i> </button>
            </div>
        </div>
        <div class="standard-image-bar" style="display: none;">
            <div class="hstack gap-1">
                <div class="dropdown">
                    <button class="btn btn-standard" type="button" data-bs-toggle="dropdown" aria-expanded="false"> <i class="fa-solid fa-ellipsis"></i> </button>
                    <ul class="dropdown-menu shadow-sm p-1">
                        <li>
                            <form method="post" asp-controller="Profile" asp-action="SetImageAsMain" id="ProfileSetImageAsMain_Form">
                                <input type="hidden" name="ImageUrl" id="PSIAM_ImgUrl_Val" />
                                <button type="submit" class="dropdown-item btn-edit-some-files super-disabled" id="PSIAM_SbmtBtn"> <i class="fa-solid fa-user-check"></i> Set as Main</button>
                            </form>
                        </li>
                        <li>
                            <form method="post" asp-controller="Profile" asp-action="DeleteImage" id="ProfileDeleteImage_Form">
                                <input type="hidden" name="ImageUrl" id="PDI_ImgUrl_Val" />
                                <button type="submit" class="dropdown-item btn-edit-some-files text-danger super-disabled" id="ProfileDeleteImage_SbmtBtn"> <i class="fa-solid fa-trash-can"></i> Delete this Image</button>
                            </form>
                        </li>
                        <li>
                            <form method="post" asp-controller="Profile" asp-action="DeleteAllImages" id="ProfileDeleteAllImages_Form">
                                <button type="submit" class="dropdown-item btn-edit-some-files text-danger super-disabled" id="ProfileDeleteAllImages_SbmtBtn"> <i class="fa-solid fa-dumpster"></i> Delete all Images</button>
                            </form>
                        </li>
                    </ul>
                </div>
                <button type="button" class="btn btn-standard btn-exit-photo-mode ms-auto"> <i class="fa-solid fa-compress"></i> </button>
            </div>
            <div class="row" id="AvatarsCounter_Box">
            </div>
        </div>
        <div class="mt-2">
            @if (UserInfo.ImgUrl == null)
            {
                <div class="d-none" id="ImgHdnValues_Box">
                    <input type="hidden" id="ImagesQty_Val" value="0" />
                </div>
                <div class="profile-avatar mx-auto">@UserInfo.Nickname![0]</div>
                <img src="#" class="profile-avatar-img mx-auto" alt="This image cannot be displayed" id="ProfileAvatar_Img" style="display: none;" />
            }
            else
            {
                <div class="d-none" id="ImgHdnValues_Box">
                    <input type="hidden" id="ImagesQty_Val" value="0" />
                    <input type="hidden" class="form-control-img" id="0-ImgHdn_Val" value="@UserInfo.ImgUrl" />
                </div>
                <div class="profile-avatar mx-auto" style="display: none;">@UserInfo.Nickname![0]</div>
                <img src="/ProfileImages/@UserInfo.ImgUrl" class="profile-avatar-img mx-auto" alt="This image cannot be displayed" id="ProfileAvatar_Img" />
            }
        </div>
        <div class="standard-profile-initials-box mt-2">
            <h2 class="h2" id="ProfileMainName_Lbl">@UserInfo.Nickname</h2>
            <p class="card-text text-muted">@@<span id="ProfileMainSearchname_Lbl">@UserInfo.Searchname</span></p>
        </div>
    </div>
</div>

<div class="box-lg-part shadow-sm" id="EditProfile_Container">
    <div class="box-lg-part-header p-2">
        <div class="div-swiper mx-auto"></div>
        <div class="hstack gap-1">
            <button type="button" class="btn btn-standard btn-back btn-sm"> <i class="fa-solid fa-chevron-left"></i> Back</button>
            <div class="ms-2">
                <span class="h5" id="EditProfile_Container-Header_Lbl">Edit Profile</span>
            </div>
        </div>
    </div>
    <div class="box-lg-part-body mt-5" id="EditProfile_Box">
        <div>
            <form method="post" asp-controller="Profile" asp-action="UpdateMainInfo" id="ProfileUpdateMainInfo_Form">
                <div>
                    <label class="form-label fw-500">Nickname</label>
                    <input type="text" asp-for="Nickname" id="UMI_Nickname_Val" class="form-control form-control-guard" data-min-length="1" data-update="ProfileMainName_Lbl" data-base-value="@UserInfo.Nickname" data-target="UpdateMainInfo_SbmtBtn" placeholder="Your nickname" maxlength="75" value="@UserInfo.Nickname" />
                </div>
                <div class="ms-1 mt-1">
                    <small class="card-text text-muted">This name (whether your artistic or real name) represents you and your page to others</small>
                </div>
                <div class="mt-3">
                    <span class="form-label fw-500">Description</span>
                    <div class="mt-1">
                        <button type="button" class="btn btn-standard-bordered btn-open-text-formatting btn-sm me-1" id="UMI_Description_Val-FormatOpen_Btn"> <i class="fa-solid fa-text-width"></i> Format</button>
                        <button type="button" class="btn btn-standard-bordered btn-text-deformatting btn-sm me-1" id="UMI_Description_Val-Deformatting_Btn"> <i class="fa-solid fa-spell-check"></i> Preview</button>
                        <button type="button" class="btn btn-standard-bordered btn-sm" id="UMI_Description_Val-Indicator_Span">0/2500</button>
                    </div>
                    <textarea class="form-control form-textarea mt-1" name="Description" id="UMI_Description_Val" placeholder="Description (max 2500 chars)" maxlength="2500" rows="1">@UserInfo.Description</textarea>
                    <div class="form-textarea form-textarea-box mt-1" id="UMI_Description_Val-Preview_Box" style="display: none;">
                        <p class="card-text" id="UMI_Description_Val-PreviewText_Lbl"></p>
                    </div>
                </div>
                <div class="mt-1 ms-1">
                    <small class="card-text text-muted">Share all essential details your followers might find valuable, including your <span class="fw-500">real name</span>, <span class="fw-500">age</span>, <span class="fw-500">country</span>, and <span class="fw-500">main genre</span> (even if there are separate fields for country, city, and genre)</small>
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-standard-bolded btn-classic-styled w-100" id="UpdateMainInfo_SbmtBtn">Save Changes</button>
                </div>
            </form>
        </div>
        <div class="mt-2">
            <div>
                <form method="post" asp-controller="Profile" asp-action="UpdateSearchname" id="ProfileUpdateSearchname_Form">
                    <div>
                        <label class="form-label fw-500">Searchname</label>
                        <small class="form-status-span" id="UpdateSearchname_Status_Span" style="display: none;"></small>
                        <input type="text" asp-for="Searchname" id="UpdateSearchname_Searchname_Val" class="form-control form-control-guard form-control-restricted" data-min-length="1" data-update="ProfileMainSearchname_Lbl,Searchname_Span" data-base-value="@UserInfo.Searchname" data-target="UpdateMainInfo_SbmtBtn" placeholder="Your searchname" maxlength="15" value="@UserInfo.Searchname" />
                    </div>
                    <div class="mt-1 ms-1">
                        <small class="card-text text-muted">This serves as your account's main link, making it easier for others to find you across the web and app<br />Can contain these characters only: <span class="fw-500">[a-z]</span>, <span class="fw-500">[A-Z]</span>, <span class="fw-500">[0-9]</span> and <span class="fw-500">underscore (_)</span><br /><br/>Your account is accessible directly through the following link: https://www.onogaku.com/artist/a/<span class="fw-500" id="Searchname_Span">@UserInfo.Searchname</span></small>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>